<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A tableView dataSource using the generic TableViewModel</string>
	<key>Summary</key>
	<string>A tableView dataSource</string>
	<key>SortOrder</key>
	<string>0</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>___FILEBASENAME___DataSource.swift</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___DataSource.swift</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.ios</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Base name:</string>
			<key>Description</key>
			<string>The name of the DataSource to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>Delegate</string>
			<key>Name</key>
			<string>Create a Delegate protocol for the DataSource</string>
			<key>Description</key>
			<string>Create a Delegate protocol for the DataSource</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>HeaderFooter</string>
			<key>Name</key>
			<string>Specify a header/footer ViewModel</string>
			<key>Description</key>
			<string>Specify a header/footer ViewModel</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>headerFooterModel</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>header/footer viewModel</string>
			<key>Description</key>
			<string>header/footer viewModel</string>
			<key>Type</key>
			<string>text</string>
			<key>RequiredOptions</key>
			<dict>
				<key>HeaderFooter</key>
				<array>
					<string>true</string>
				</array>
			</dict>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
